@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-conic-gradient {
  background-image: conic-gradient(from 225deg, #FFC876, #79FFF7, #9F53FF, #FF98E2, #FFC876);
}

.sh {
  box-shadow: 0px 0px 58px 28px rgba(14,12,21,0.9);
-webkit-box-shadow: 0px 0px 58px 28px rgba(14,12,21,0.9);
-moz-box-shadow: 0px 0px 58px 28px rgba(14,12,21,0.9);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box !important;
  font-family: 'Montserrat', sans-serif;
}


body::-webkit-scrollbar {
  display: none !important;
}
